.side-menu{
    background-color: #222222;
    margin-left: 26px;
    margin-top: 48px;
    margin-bottom: 28px;
    margin-right: 13px;
    height: 900px;
    width: 256px;
}
.input .ant-input{
    color: red;
    background-color: red;
}
.search-input{
    color: red;
    background-color: red;
} 
.logo-class{
    margin-top: 31px;
    margin-left: 33px;
    margin-right: 53px;

}
.ml-4{
    margin-left: 70px;
}
.ml-3{
    margin-left: 55px;
}
.ml-2{
    margin-left: 40px;
}
.ml-1{
    margin-left: 10px;
}
.mt-2{
    margin-top: 15px;
}
.mt-4{
    margin-top: 40px;
}
.search-input{
    width: 252px;
    height: 42px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 7px;
    border: 1px solid red;

}
.side-manu-main{
    background-color: #222222;
    height: 700px;
    width: 256px;
    margin-top: 50px;

}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
    background-color: #222222;
    text-align: left;
}
.line{
    text-align: center;
    margin-top: 42px;
    margin-bottom: 30px;
}
.center{
   margin-left: 24px;
   height: 21px;
}
.inner-menu .ant-menu-item{
    height: 21px;
}
.buttons-class{
    margin-top: 24px;
    margin-left: 13px;
    background-color: #303030;
    border-radius: 8px;
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
}
.primery-button-class .button1 {
    height: 35px;
    margin-top: 4px;
    margin-left: 5px;

    width: 95px;
    background-color: #222222;
    border: 1px solid #303030;
            
    
    border-radius: 8px;


}
.primery-button-class .button2 {
  height: 35px;
  width: 95px;
  margin-top: 4px;

  background-color: #222222;
  border: 1px solid #303030;
  border-left: 1px solid #303030 !important;
  border-radius: 8px;
}


.ant-btn-group .ant-btn-primary:first-child:not(:last-child){
    border-right-color:  #222222;
    border-style: dotted;
}
.profile{
    height: 42px;
    width: 180px;
    margin-top: 70px;
    margin-left: 13px;
   background-color: #000000;
   border: 1 dotted #000000;
   border-radius: 5px;
}
.profile-col1{
    margin-top: 5px;
    width: 35px;
    height: 35px;
}
.name{
    color: #C3CC5A;
    font-size: 16px;
}
.email{
    font-size: 10px;

}
.logout{
    margin-left: 55px;
}
